extends ../layouts/default

include ../partials/blocks/_hero
include ../partials/blocks/_about
include ../partials/blocks/_cover
include ../partials/blocks/_services
include ../partials/blocks/_solutions
include ../partials/blocks/_news
include ../partials/blocks/_team
include ../partials/blocks/_map
include ../partials/blocks/_contacts

block vars
  -
    const page = {
      title: 'Главная',
      content: {
        hero: {
          firstBlock: true,
          mod: 'cover',
          title: '<span class="hero-title__item--bold">Инфраструктура</span> для телекоммуникаций',
        },
        about: {
          id: 'about',
          image: { src: 'about/about.jpg', alt: 'Телекоммуникационные вышки' },
          title: 'О компании',
          text: 'Группа компаний «Сервис-Телеком», независимый оператор инфраструктуры для компаний связи, сформирована путем объединения бизнесов лидера рынка Московского региона ООО «Сервис-Телеком» и ведущего игрока рынка Северо-Запада, первой в Российской Федерации независимой башенной компании ООО «Линк Девелопмент».',
          link: { href: '#', text: 'Подробнее' },
        },
        cover: {
          mod: 'cover',
          title: 'Мы обеспечиваем полный цикл операций',
          text: 'по созданию и обслуживанию инфраструктуры связи (опоры двойного назначения, антенно-мачтовые сооружения, прочие решения) для основных игроков телекоммуникационного рынка РФ – компаний Теле2, МТС, МегаФон, ВымпелКом и других, и имеем более чем 10-летний опыт работы на рынке инфраструктуры.',
          link: { href: '#', text: 'Читать дальше' },
        },
        services: {
          id: 'services',
          title: 'Услуги',
          cards: [
            {
              image: { src: 'services/services-1.jpg', alt: 'Подъемный кран' },
              title: 'Строительство  сдача в аренду многофункцианальных опор',
              text: 'Мы строим многофункциональные опоры «под ключ»: подбираем оптимальное место для строительства опоры, подключаем к энергосетям и осуществляем сервисное обслуживание опор. Используя нашу инфраструктуру, операторы могут сократить свои капитальные и операционные затраты.',
            },
            {
              image: { src: 'services/services-2.jpg', alt: 'Сотрудник проводит работы на многофункциональной опоре связи' },
              title: 'Проектирование и монтаж оборудования, размещаемого на многофункциональных опорах связи',
              text: 'Универсальность конструкции опор позволяет разместить на них дополнительное оборудование: кнопки экстренного вызова службы «112», средств видеонаблюдения, мониторинга и контроля дорожного движения, а также оборудования для наружного освещения дорог.',
            },
            {
              image: { src: 'services/services-3.jpg', alt: 'Сотрудник ликвидации аварий на фоне автомобиля и многофункциональной опоры связи' },
              title: 'Сервис и ликвидация аварий в режиме 24/7',
              text: 'Мы осуществляем эксплуатацию, сервисное обслуживание опор и телекоммуникационного оборудования операторов связи. Наши специалисты оперативно реагируют на возникающие технические неполадки и устраняют их в течение 4 часов с момента обнаружения в режиме 24/7. Телефон аварийной службы +7 906 258 2006.',
            },
            {
              image: { src: 'services/services-4.jpg', alt: 'Антенно-мачтовое сооружение' },
              title: 'Выкуп АМС с обратной арендой',
              text: 'Мы предлагаем владельцам антенно-мачтовых сооружений выкуп с обратной сдачей в аренду. Это позволяет оператору повысить ликвидность и операционную эффективность за счет избавления от непрофильных активов.',
            },
          ],
        },
        solutions: {
          id: 'solutions',
          mod: 'grey',
          title: 'Решения',
          cards: [
            {
              title: 'Башня',
              link: { href: '#', text: 'Посмотреть в 3D' },
              image: { src: 'solutions/solutions-1.jpg', alt: 'Башня' },
            },
            {
              title: 'ОДН',
              link: { href: '#', text: 'Посмотреть в 3D' },
              image: { src: 'solutions/solutions-2.jpg', alt: 'ОДН' },
            },
            {
              title: 'Смарт-столб',
              link: { href: '#', text: 'Посмотреть в 3D' },
              image: { src: 'solutions/solutions-3.jpg', alt: 'Смарт-столб' },
            },
          ],
        },
        news: {
          id: 'news',
          title: 'Новости',
          cards: [
            {
              link: '#',
              image: { src: 'news/news-1.jpg', alt: '' },
              text: { short: 'Сервис-Телеком объявляет о достижении соглашения с VEON...' },
            },
            {
              link: '#',
              image: { src: 'news/news-2.jpg', alt: '' },
              text: { short: 'ГК «Сервис-Телеком» приобрела портфель «Нева Телеком» и договорилась...' },
            },
            {
              link: '#',
              image: { src: 'news/news-3.jpg', alt: '' },
              text: { short: 'ГК «Сервис-Телеком» приняла участие в Форуме операторов и поставщиков...' },
            },
            {
              link: '#',
              image: { src: 'news/news-4.jpg', alt: '' },
              text: { short: 'Сервис-Телеком объявляет о достижении соглашения с VEON...' },
            },
            {
              link: '#',
              image: { src: 'news/news-1.jpg', alt: '' },
              text: { short: 'Сервис-Телеком объявляет о достижении соглашения с VEON...' },
            },
            {
              link: '#',
              image: { src: 'news/news-2.jpg', alt: '' },
              text: { short: 'ГК «Сервис-Телеком» приобрела портфель «Нева Телеком» и договорилась...' },
            },
            {
              link: '#',
              image: { src: 'news/news-3.jpg', alt: '' },
              text: { short: 'ГК «Сервис-Телеком» приняла участие в Форуме операторов и поставщиков...' },
            },
            {
              link: '#',
              image: { src: 'news/news-4.jpg', alt: '' },
              text: { short: 'Сервис-Телеком объявляет о достижении соглашения с VEON...' },
            },
          ],
        },
        team: {
          id: 'team',
          mod: 'grey',
          title: 'Команда',
          cards: [
            {
              image: { src: 'team/team-1.jpg', alt: '' },
              name: 'Дмитрий Болотов',
              text: 'Директор по GR и имущественным вопросам',
            },
            {
              image: { src: 'team/team-2.jpg', alt: '' },
              name: 'Дмитрий Болотов',
              text: 'Директор по GR и имущественным вопросам',
            },
            {
              image: { src: 'team/team-3.jpg', alt: '' },
              name: 'Дмитрий Болотов',
              text: 'Директор по GR и имущественным вопросам',
            },
            {
              image: { src: 'team/team-4.jpg', alt: '' },
              name: 'Дмитрий Болотов',
              text: 'Директор по GR и имущественным вопросам',
            },
            {
              image: { src: 'team/team-1.jpg', alt: '' },
              name: 'Дмитрий Болотов',
              text: 'Директор по GR и имущественным вопросам',
            },
            {
              image: { src: 'team/team-2.jpg', alt: '' },
              name: 'Дмитрий Болотов',
              text: 'Директор по GR и имущественным вопросам',
            },
            {
              image: { src: 'team/team-3.jpg', alt: '' },
              name: 'Дмитрий Болотов',
              text: 'Директор по GR и имущественным вопросам',
            },
            {
              image: { src: 'team/team-4.jpg', alt: '' },
              name: 'Дмитрий Болотов',
              text: 'Директор по GR и имущественным вопросам',
            },
          ],
        },
        map: {
          id: 'map',
          title: 'Наши объекты на карте',
          link: 'https://yandex.ru/map-widget/v1/?um=constructor%3A67ad8a893a1f8e05830ef3fed5ed7bbf9f2e9f2b8e787fbbb7d3d8a81b24fa93&amp;source=constructor',
          buttons: [
            { 
              download: true, 
              secondary: true,
              href: '#',
              text: 'Скачать Excel',
            },
            { 
              download: true, 
              secondary: true,
              href: '#',
              text: 'Скачать KML',
            },
          ],
        },
        contacts: {
          id: 'contacts',
          button: { href: '#', text: 'Реквизиты компании' },
          info: {
            title: 'Информация',
            links: [
              { href: "#about", text: "О компании" },
              { href: "#services", text: "Услуги" },
              { href: "#solutions", text: "Решения" },
              { href: "#news", text: "Новости" },
              { href: "#team", text: "Команда" },
              { href: "#map", text: "Объекты на карте" },
              { href: "#contacts", text: "Контакты" },
            ],
          },
          emails: {
            title: 'Электронная почта',
            list: [ 'info@service-telecom.net', 'press@service-telecom.net' ],
          },
          addresses: {
            title: 'Адрес',
            list: [
              {
                text: '115184, Москва, ул. Пятницкая, д. 54, стр. 2',
                tel: '+7 499 922 8553',
              },
              {
                text: ' 197101, Санкт-Петербург, ул. Б. Монетная, д. 25',
                tel: '+7 812 986 3333',
              },
              {
                text: ' 603093, г. Нижний Новгород, ул. Родионова, д. 192Д',
                tel: '+7 499 922 8553',
              },
            ],
          },
        },
      },
    };

block main
  +hero(page.content.hero)
  +about(page.content.about)
  +cover(page.content.cover)
  +services(page.content.services)
  +solutions(page.content.solutions)
  +news(page.content.news)
  +team(page.content.team)
  +map(page.content.map)
  +contacts(page.content.contacts)
    