extends ../layouts/default

include ../partials/blocks/_hero
include ../partials/blocks/_about
include ../partials/blocks/_cover

block vars
  -
    const page = {
      title: 'Главная',
      content: {
        hero: {
          firstBlock: true,
          mod: 'cover',
          title: '<span class="hero-title__item--bold">Инфраструктура</span> для телекоммуникаций',
        },
        about: {
          id: 'about',
          image: { src: 'about/about.jpg', alt: 'Телекоммуникационные вышки' },
          title: 'О компании',
          text: 'Группа компаний «Сервис-Телеком», независимый оператор инфраструктуры для компаний связи, сформирована путем объединения бизнесов лидера рынка Московского региона ООО «Сервис-Телеком» и ведущего игрока рынка Северо-Запада, первой в Российской Федерации независимой башенной компании ООО «Линк Девелопмент».',
          link: { href: '#', text: 'Подробнее' },
        },
        cover: {
          mod: 'cover',
          title: 'Мы обеспечиваем полный цикл операций',
          text: 'по созданию и обслуживанию инфраструктуры связи (опоры двойного назначения, антенно-мачтовые сооружения, прочие решения) для основных игроков телекоммуникационного рынка РФ – компаний Теле2, МТС, МегаФон, ВымпелКом и других, и имеем более чем 10-летний опыт работы на рынке инфраструктуры.',
          link: { href: '#', text: 'Читать дальше' },
        },
      },
    };

block main
  +hero(page.content.hero)
  +about(page.content.about)
  +cover(page.content.cover)
    