.cover {
  position: relative;
  padding: 67px 0 73px;
  color: $white;
  background: url("../images/cover/cover.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;

  @include max("xs") {
    background-position: center right 30%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #436e9b;
      opacity: 1;
      filter: blur(250px);
    }
  }

  &-wrapper {
    position: relative;
    z-index: 1;
    max-width: 604px;

    @include max("md") {
      max-width: 500px;
    }
  }

  &__title {
    margin-bottom: 23px;
    font-weight: 500;
    color: inherit;

    @include min("md") {
      line-height: 52px;
    }
  }

  &__text {
    margin-bottom: 24px;
  }
}
