.title {
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: $red;

  @include max("md") {
    font-size: 36px;
    line-height: 42px;
  }

  @include max("xs") {
    font-size: 26px;
    line-height: 32px;
  }
}

.section-title {
  margin-bottom: 28px;
}
